*.cf
*.rpt
*db/
*work/
*transcript/
*.summary
*.sof
*.sld
*.done
*.smsg
*.jdi
*.pin
*.qws
*.lnk
*.xml
*.settings
transcript
*.txt
*.wlf
*.opt
*.log
*.jou
*.sim*
*.runs*
*.cache*
*.hw*
*.str
*.Xil*
*.ini
*.build_*
*.vdbs*
*.arearep
*.lsedata
*.ngd
*.synproj
*.html
*.twr
*.v
*xxx*
*.dir
*.dmp
*_log
._Real_._Math_.vhd
*/lattice/*/*.lpf
FixedPointMath/wlftwf37im
FixedPointMath/wlft0e6mr1
